langgraph 
langchain 
langchain_community
simsimd>=5.7.3
langchain-pinecone
pinecone
langchain_openai
langchain_core
pydantic
ipython
pymongo
unstructured
pinecone
redis
aiohttp
asyncio
motor
pdfplumber
fastapi 
uvicorn 
python-multipart