langgraph 
langchain 
langchain_community
simsimd==3.6.7
langchain-pinecone==0.0.1
pinecone
langchain_openai
langchain_core
pydantic
ipython
pymongo
unstructured
pinecone
redis
aiohttp
asyncio
motor
pdfplumber
fastapi 
uvicorn 
python-multipart