langgraph 
langchain 
langchain_community
langchain-pinecone==0.1.3
pinecone
langchain_openai
langchain_core
pydantic
ipython
pymongo
unstructured
pinecone
redis
aiohttp
asyncio
motor
pdfplumber
fastapi 
uvicorn 
python-multipart